body{
  background:#ccc;
}

#back{
  width:8%;
  padding-top:2%;
  padding-left:2%;

}
.main {
  font-family:Arial;
  width:90%;
  display:block;
  margin:5%;
}
.slick-slide img{
  display:inline-block;
}
.a{
 width:50%;
  padding-right:2%;
}
h3 {
    color: #3498db;
    font-size: 36px;
    line-height: 100px;
    margin: 10px;
    position: relative;
    text-align: center;
    float:center;
}
.action{
  display:block;
  margin:100px auto;
  width:100%;
  text-align:center;
}
.action a {
  display:inline-block;
  padding:5px 10px; 
  background:#f30;
  color:#fff;
  text-decoration:none;
}
.action a:hover{
  background:#000;
}
.slick-dots{
visibility: hidden;
}